*, *::before, *::after {
  box-sizing: border-box;
}

body{
    margin: 0px;
    background-image: url("bgs/1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: url("../cursor.png"), auto;
}

#dark{
    display: none;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100vw;
    height: 100dvh;
    z-index: 1;
}

#finish{
    z-index: 2;
    transform: translate(-50%, -50%);
    top: 50%; 
    left: 50%;
    position: fixed;
    width: 50vw;
    height: auto;
    font-size: larger;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    display: none;
    align-items: center;
}

#finish #you{
    justify-content: space-between; 
    align-items: flex-start;
}

#finImg{
    border-radius: 5px;
    width: 30%;
    height: auto;
}

#finish header{
    font-size: x-large;
    font-weight: bold;
    margin: 1rem;
}

#finish p{
    margin: 1rem;
}

button{
    margin: 1em;
    padding: 0.5em;
    font-size: large;
    background-color: #5d7be9;
    cursor: pointer;
    width: 60%;
    transition: all 0.2s;
    border-radius: 5px;
    border: none;
}

button:hover{
    color: #ffffff;
    background-color: #000000;

}

#you{
    display: flex;
    flex-direction: row;
    padding: min(4em, 3%);
}

#flex{
    border-width: 5px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: min(2em, 2%);
    height: 100dvh;
    font-size: 1.9rem;
    gap: min(5em, 1%);
}

image{
    width: max(100%, 1000px);
    height: auto;
    aspect-ratio: 9/16;
    object-fit: cover;
    position: fixed;
    margin: 20%;
    float: right;
    border-radius: 10px;
}

.sidePic{
    width: min(50%, 20%);
    height: auto;
}

#qh{
    font-weight: bold;
    font-size: clamp(0.1rem, calc(5vw + 1rem), 1.5rem);
    margin-bottom: 0.5em;
}

#rflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 15px;
    padding: min(3em, 4%);
    width: min(600px, 100%);
}

#radio{
    margin: min(0.5em, 2%);
    font-size: 1.8rem;
}

@media (max-width: 900px) {
    #flex{
        flex-direction: column;
        padding: min(2em, 5%);
        gap: min(2em, 1%);
    }

    #radio{
        margin: min(0.5em, 2%);
        font-size: 1.5rem;
    }
    #finish{
        width: 95vw;
        height: auto;
    }
    #finImg{
        width: 40%;
    }
}
